<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application>
        <receiver
            android:name=".domain.receiver.FeatureAudioPlayerReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="co.id.fadlurahmanfdev.kotlin_feature_media_player.ACTION_PAUSE_AUDIO" />
                <action android:name="co.id.fadlurahmanfdev.kotlin_feature_media_player.ACTION_RESUME_AUDIO" />
                <action android:name="co.id.fadlurahmanfdev.kotlin_feature_media_player.ACTION_PREVIOUS_AUDIO" />
                <action android:name="co.id.fadlurahmanfdev.kotlin_feature_media_player.ACTION_NEXT_AUDIO" />
                <action android:name="co.id.fadlurahmanfdev.feature_media_player.ACTION_SEEK_TO_POSITION" />
                <action android:name="co.id.fadlurahmanfdev.kotlin_feature_media_player.SEND_INFO" />
            </intent-filter>
        </receiver>
        <service
            android:name=".domain.service.FeatureAudioPlayerService"
            android:exported="false">
            <intent-filter>
                <action android:name="co.id.fadlurahmanfdev.kotlin_feature_media_player.ACTION_PLAY_REMOTE_AUDIO" />
                <action android:name="co.id.fadlurahmanfdev.kotlin_feature_media_player.ACTION_PAUSE_AUDIO" />
                <action android:name="co.id.fadlurahmanfdev.kotlin_feature_media_player.ACTION_RESUME_AUDIO" />
                <action android:name="co.id.fadlurahmanfdev.kotlin_feature_media_player.ACTION_PREVIOUS_AUDIO" />
                <action android:name="co.id.fadlurahmanfdev.kotlin_feature_media_player.ACTION_NEXT_AUDIO" />
                <action android:name="co.id.fadlurahmanfdev.feature_media_player.ACTION_SEEK_TO_POSITION" />
                <action android:name="co.id.fadlurahmanfdev.kotlin_feature_media_player.SEND_INFO" />
            </intent-filter>
        </service>
    </application>

</manifest>