<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Kotlin_feature_media_player"
        tools:targetApi="31">
        <activity
            android:name=".presentation.RemoteMusicPlayerActivityV2"
            android:exported="false" />
        <activity
            android:name=".presentation.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".domain.receiver.AppAudioPlayerReceiverV2"
            android:exported="false">
            <intent-filter>
                <action android:name="com.fadlurahmanfdev.medx.ACTION_PAUSE_AUDIO" />
                <action android:name="com.fadlurahmanfdev.medx.ACTION_RESUME_AUDIO" />
                <action android:name="com.fadlurahmanfdev.medx.ACTION_SKIP_TO_PREVIOUS_AUDIO" />
                <action android:name="com.fadlurahmanfdev.medx.ACTION_SKIP_TO_NEXT_AUDIO" />
                <action android:name="com.fadlurahmanfdev.medx.ACTION_SEEK_TO_POSITION_AUDIO" />
            </intent-filter>
        </receiver>
        <service
            android:name=".domain.service.AppAudioPlayerServiceV2I"
            android:exported="false">
            <intent-filter>
                <action android:name="com.fadlurahmanfdev.medx.ACTION_PLAY_REMOTE_AUDIO" />
                <action android:name="com.fadlurahmanfdev.medx.ACTION_PAUSE_AUDIO" />
                <action android:name="com.fadlurahmanfdev.medx.ACTION_RESUME_AUDIO" />
                <action android:name="com.fadlurahmanfdev.medx.ACTION_SKIP_TO_PREVIOUS_AUDIO" />
                <action android:name="com.fadlurahmanfdev.medx.ACTION_SKIP_TO_NEXT_AUDIO" />
                <action android:name="com.fadlurahmanfdev.medx.ACTION_SEEK_TO_POSITION_AUDIO" />
                <action android:name="com.fadlurahmanfdev.medx.ACTION_AUDIO_DURATION_INFO" />
                <action android:name="com.fadlurahmanfdev.medx.ACTION_AUDIO_POSITION_INFO" />
                <action android:name="com.fadlurahmanfdev.medx.ACTION_AUDIO_STATE_INFO" />
                <action android:name="com.fadlurahmanfdev.medx.ACTION_AUDIO_MEDIA_META_DATA_INFO" />
            </intent-filter>
        </service>
    </application>

</manifest>